.header {
  color: black;
  flex-direction: row;
  display: flex;
  }
  .body {
    color: #FFF7EB;
    background-color: #D5BFE0;
    font-family: var(--font-DIN Alternate Bold);
    word-spacing: normal;
    line-height: 30px;
    }
.h1 {
color: black;
text-align: center;
padding: 10px;
padding-top: 30px;
font-family: var(--font-Brush-Script);
}
.h2 {
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-Brush-Script);
}
.nav {
  display: flex;
  flex-direction: column;
  font-family: var(--font-Brush-Script);
  font-size: x-large;
}
.navLi{
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
}
.navLismall{
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
  font-size: 22px;
}
.logo {
  float: left;
  padding: 10px;
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}
.p {
  text-align: left;
  padding: 20px;
}
.p2 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
}
.imagegal {
  padding: 20px;
}
.displaygal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  justify-content: space-around;
}
.additionalimage {
  background-color: #D5BFE0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
@media(max-width:768px) {
  .additionalimage {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
}
