.h1 {
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  font-family: var(--font-Brush-Script);
  }
  .main {
  color: #FFF7EB;
  background-color: #D5BFE0;
  }
  .h2 {
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-Brush-Script);
  }
  
  .display {
  background-color: #D5BFE0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  }
  
  .displayWrapper {
  position: relative;
  height: 400px;
  width: 100%;
  }
  
  .displayLink .displayTitle {
  display: none;
  }
  
  .displayLink:hover .displayTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  background-color: rgba(255,255,255, 0.5)
  }
  
  .displayImage {
  object-fit: contain;
  margin: 0px;
  padding: 10px;
  }
  .p {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media(min-width:768px) {
  .display {
    flex-direction: row;
    color: #FFF7EB;
    background-color: #D5BFE0;
  }
  .displayWrapper {
    width: 400px;
  }
  }
  