.header {
  color: black;
  flex-direction: row;
  display: flex;
  }
  .body {
    color: black;
    margin-left: 80px;
    font-family: var(--font-DIN Alternate Bold);
    word-spacing: normal;
    line-height: 30px;
    }
.h1 {
text-align: center;
padding: 10px;
font-family: var(--font-Brush-Script);
}
.h2 {
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-Brush-Script);
}
.nav {
  display: flex;
  flex-direction: column;
  font-family: var(--font-Brush-Script);
  font-size: x-large;
}
.navLi{
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
}
.navLismall{
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
  font-size: 22px;
}
.logo {
  float: left;
  padding: 10px;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  justify-content: space-around;
}
.image {
  padding-top: 20px;
}
.displayLink {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.displayLink img {
  margin: 0;
  padding: 0;
}

.displayLink .displayTitle {
  display: none;
  text-align: center;
}

.displayLink:hover .displayTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  background-color: rgba(255,255,255, 0.5)
}
@media(max-width:768px) {
  .projects {
      flex-direction: column;
  }
}