.header {
  color: black;
  flex-direction: row;
  display: flex;
  }
.html {
  background-color: #D5BFE0;
}
.body {
  color: #FFF7EB;
  background-color: #D5BFE0;
  width: 1vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFF7EB;
  background-color: #D5BFE0;
}
.h1 {
color: black;
background-color: #D5BFE0;
text-align: center;
padding: 10px;
padding-top: 30px;
font-family: var(--font-Brush-Script);
}
.h2 {
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-Brush-Script);
}
.p {
  text-align: center;
  padding: 20px;
  color: #FFF7EB;
  background-color: #D5BFE0;
}
.nav {
  display: flex;
  flex-direction: column;
  font-family: var(--font-Brush-Script);
  font-size: x-large;
}
.navLi{
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
}
.navLismall{
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
  font-size: 22px;
}
.logo {
  float: left;
  padding: 10px;
}
.bpackage {
  color: #FFF7EB;
  background-color: #D5BFE0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.displayWrapper {
  color: #FFF7EB;
  background-color: #D5BFE0;
  position: relative;
  height: 400px;
  width: 100%;
}

.image {
  object-fit: contain;
  margin: 0px;
  padding: 20px;
}

@media(min-width:768px) {
  .bpackage {
    color: #FFF7EB;
    background-color: #D5BFE0;
    flex-direction: row;
    width: 100%;
  }
  .displayWrapper {
    width: 400px;
    color: #FFF7EB;
    background-color: #D5BFE0;
  }
  .main {
    color: #FFF7EB;
    background-color: #D5BFE0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}