.body {
    width: 100vh;
    color: black;
    font-family: var(--font-DIN Alternate Bold);
    word-spacing: normal;
    line-height: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
 }
  
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
.h1 {
text-align: left;
padding: 10px;
padding-top: 30px;
margin-left: 70px;
font-family: var(--font-Brush-Script);
}
.h3 {
  text-align: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  padding: 10px;
}
.contactWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 300px;
  align-items: center;
}
.footer {
  background-color: #D5BFE0;
  font-family: var(--font-Brush-Script);
  width: 100vw;
}




