.body {
    width: 100vh;
    color: black;
    margin-left: 80px;
    font-family: var(--font-DIN Alternate Bold);
    word-spacing: normal;
    line-height: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
 }
  
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
.h1 {
text-align: left;
padding: 10px;
padding-top: 30px;
margin-left: 70px;
font-family: var(--font-Brush-Script);
}
.h3 {
  text-align: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  padding: 10px;
}
.contactWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 300px;
}
.footer {
  background-color: #D5BFE0;
  font-family: var(--font-Brush-Script);
  width: 100vw;
}
@media (min-width: 600px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .hamBtn {
    display: none;
  }
  
  .navUl {
    display: flex;
    flex-direction: column;
  }
}




