  .body {
    color: #FFF7EB;
    font-family: var(--font-DIN-Alternate-Bold);
    word-spacing: normal;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    background-color: #D5BFE0;
    }
  .body main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background-color: #D5BFE0;
  }

.aboutText {
  max-width: 100%;
  margin-right: 30px;
}
.h1 {
color: #000;
text-align: center;
padding: 10px;
margin-top: 30px;
font-family: var(--font-Brush-Script);
}
.h2 {
  color: #000;
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-Brush-Script);
}
.h3 {
  text-align: center;
  padding: 10px;
} 
.nav, .mobileNav {
  display: flex;
  flex-direction: row;
  font-family: var(--font-Brush-Script);
  font-size: 30px;
  justify-content: space-between;
  width: 100%;
  background-color: #D5BFE0;
}

.navSubOpen {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.navSubOpen li {
  list-style: none;
}

.navSubClose {
  display: none;
}

.mobileNav {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  height: 100%;
  flex-direction: column;
  background-color: white;
  z-index: 1000;
  border-left: 2px;
  color: #000;
}

.hamBtn {
  background-color: #5A0084;
  border-color: #5A0084;
  display: flex;
  padding: 10px 10px;
  height: 40px;
  width: 60px;
}
.closeBtn {
  background-color: #5A0084;
  border-color: #5A0084;
  display: flex;
  padding: 10px;
  text-align: center;
}
.navUl {
  display: none;
}

.navLi {
  list-style-type: none;
  margin-left: 20px;
  line-height: 30px;
}
.logo {
  float: left;
  padding: 10px;
}
.MyPhoto {
  float: right;
  justify-items: flex-end;
  padding: 30px;
  margin-bottom: auto;
}
.graphics {
  font-family: var(--font-Brush-Script);
  display: flex;
  justify-content: left;
  align-items: center;
}
.graphics img {
padding: 20px;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p {
  padding-left: 20px;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  padding: 10px;
}
.footer {
  background-color: #D5BFE0;
  font-family: var(--font-Brush-Script);
}

@media (min-width: 600px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
  }
  
  .hamBtn {
    display: none;
  }
  
  .navUl {
    display: flex;
    flex-direction: column;
  }
  .MyPhoto {
    float: right;
    justify-items: flex-end;
    padding: 30px;
    margin-bottom: auto;
    margin-right: 50px;
  }
}

@media (min-width: 1190px) {
  .skills {
      flex-direction: row;
      justify-content: center;
  }
}








