 .body {
    color: #FFF7EB;
    background-color: #D5BFE0;
    font-family: var(--font-DIN Alternate Bold);
    word-spacing: normal;
    line-height: 30px;
  }
.main {
  color: #FFF7EB;
  background-color: #D5BFE0;
  }
.h1 {
color: black;
text-align: center;
padding-bottom: 10px;
padding-top: 30px;
font-family: var(--font-Brush-Script);
}
.h2 {
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-Brush-Script);
}
.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}
.p {
  text-align: left;
  padding: 20px;
}
.p2 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
}
.image {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFF7EB;
  background-color: #D5BFE0;
}
.video2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
  color: #FFF7EB;
  background-color: #D5BFE0;
}
@media(max-width:768px) {
  .body{
  color: #FFF7EB;
  background-color: #D5BFE0;
  }
  .image {
    justify-content: center;
    padding: 20px;
  }
  .video {
    justify-content: center;
    visibility: hidden;
    color: #FFF7EB;
    background-color: #D5BFE0;
  }
  .video2 {
    justify-content: center;
    visibility:visible;
    margin-top: -550px;
    color: #FFF7EB;
    background-color: #D5BFE0;
  }
}